.event {
  margin: 54px 0 54px 0;

}
.event__box {
  width: 561px;
  margin: 52px 0 52px 0;

}
.event__box__btn {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 19px 71px 17px 78px;
  color: $color-white;

}
.tile__header {
  font-family: "Roboto Slab";
  font-size: 30px;
  font-weight: $weight-bold;
  padding-bottom: 23px;

}
.tile__paragraph {
  font-size: 16px;
  line-height: 30px;
  text-align: start;
  padding-bottom: 68px;

}
.event__img {

}