.main-section {
  background: url("../img/bg-intro-section.png") center center no-repeat ;
  background-size: cover;
  position: relative;
  margin-top: $height-menu;
  @media only screen and (max-width:$breakpoint-l) {
    margin-top: $height-menu-mobile;
  }
}
