.nav-bottom {
  padding: 98px 0 84px 0;
}
.nav-bottom__column {
  text-align: center;
  margin: 0 auto;
  padding: 0 35px;
}
.nav-bottom__column--link {
     display: block;
     color: $color-white;
     font-size: 18px;
     padding-bottom: 20px;
}