.product {
  width: 330px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 70px;
  margin-bottom: 29px;
}
.product__header {
  padding-top: 30px;
  font-size: 30px;
  font-weight: 700;
}
.product__paragraph {
  padding-top: 29px;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
