.tile {
  text-align: center;
  margin: 0 auto;
  padding:0 10px 80px 10px;
}
.tile__header {
  font-size:30px;
  font-weight: $weight-bold;
  font-family: $family-secondary;
  padding-top: 82px;
}
.tile__paragraph {
  font-family: $family-primary;
  font-weight: $weight-light;
  line-height: 30px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 30px;
  @media only screen and (max-width:$breakpoint-l) {
    text-align: center;
  }
}
.tile__img {
  padding-bottom: 35px;
}
.tile--text-left {
  text-align: left;
  @media only screen and (max-width:$breakpoint-l) {
    text-align: center;
  }
}
.tile__header--margin-top {
  margin-top: 62px;
}
.tile__email {
  width: 510px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 35px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width:$breakpoint-l) {
    width: 100%;

  }

}